@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Radio Canada";
  font-size: 1rem;
 
}
header{
  background-image: url("https://wallpapercave.com/dwp2x/wp2081147.png");
  height: 75vh;
  color: white;
}
p{
  font-size: 3rem;
  padding:  5rem 0;
}
header div {
  display: block;
  margin-top: auto;
}
img{
  width: 4rem;
}
#sortDown{
  display: none;
}
span:hover{
  color: green;
}
span{
  padding-left: 10px;
  cursor: pointer;
}
.d-flex{
  display: flex;
  align-items: center;
}
li{
  margin-left: 30px;
}